{% extends "base.html" %}

{% block title %}login{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Вы уже авторизованы</h1>
        <form method="get" action="{% url 'users:logout' %}">
            <input type="submit" value="Logout">
        </form>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{ form }}
        <input type="submit" value="Log in">
        <input type="hidden" name="next" value="{{ next }}" />
        </form>
    {% endif %}
{% endblock %}