{% extends "base.html" %}

{% block title %}Edit profile{% endblock %}

{% block meta %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:user_profile' %}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'users:edit_user' %}">Edit user<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="main">
            <form method="post">
                {% csrf_token %}
                {{ form.first_name }}
                {{ form.last_name }}
                {{ form.email }}
                {{ form.avatar }}
                <input type="submit" value="Save">
            </form>
        </div>
    </div>
{% endblock %}
