{% extends "base.html" %}

{% block title %}Edit profile{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    {% csrf_token %}
                    {% load widget_tweaks %}

                    <div class="form-group">
                        <label for="Firstname">First name</label>
                        {{ form.first_name|add_class:"form-control"|attr:"placeholder:First name"|attr:"id:Firstname" }}
                    </div>

                    <div class="form-group">
                        <label for="Lastname">Last name</label>
                        {{ form.last_name|add_class:"form-control"|attr:"placeholder:Last name"|attr:"id:Lastname" }}
                    </div>

                    <div class="form-group">
                        <label for="EmailAddress">Email address</label>
                        {{ form.email|add_class:"form-control"|attr:"placeholder:Email address"|attr:"id:EmailAddress" }}
                    </div>

{#                    <div class="form-group">#}
{#                        <label for="Avatar">Avatar</label>#}
{#                        {{ form.avatar|add_class:"form-control-file"|attr:"id:Avatar" }}#}
{#                    </div>#}

                    <input type="submit" value="Save">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
