{% extends "main.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-5">
                        {% if created_wallets %}
                            <div class="row">
                                    <div class="page-header">
                                        <h1>My wallets</h1>
                                    </div>

                                    <ul class="list-group">
                                        {% for wallet in created_wallets %}
                                            <a class="list-group-item" href="/wallets/{{ wallet.pk }}">{{ wallet }}</a>
                                        {% endfor %}
                                    </ul>
                            </div>
                        {% endif %}
                        <div class="row">
                            <a href="{% url 'wallets:create' %}">
                                <button type="button" class="btn btn-default">
                                    Create wallet
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        {% if available_wallets %}
                            <div class="row">
                                <div class="page-header">
                                    <h1>Available wallets</h1>
                                </div>

                                <ul class="list-group">
                                    {% for wallet in available_wallets %}
                                        <a class="list-group-item" href="/wallets/{{ wallet.pk }}">{{ wallet }}</a>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="container">
                    {% if user.avatar %}
                        <img src="{{ user.avatar.url }}", width="100px">
                    {% endif %}
                    <p>login: {{ user }}</p>
                    <p>First name: {{ user.first_name }}</p>
                    <p>Last name: {{ user.last_name }} </p>
                    <p>e-mail: {{ user.email }} </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}