{% extends "base.html" %}

{% block title %}Wallet{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Created by {{ wallet.author.first_name }} ({{ wallet.author }}) {{ wallet.author.last_name }}</p>
                <h3>Description</h3> {{ wallet.description }}
                {% if wallet.author == user %}
                    <div class="row">
                        <a href="edit_wallet">
                            <button type="button" class="btn btn-default">
                                Edit description
                            </button>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                {% include "members_list.html" %}
                {% if wallet.author == user %}
                    <div class="row">
                        <a href="add_member">
                            <button type="button" class="btn btn-default">
                                Add member
                            </button>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}