{% extends "base.html" %}

{% block title %}Wallet{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Created by {{ wallet.author.first_name }} ({{ wallet.author }}) {{ wallet.author.last_name }}</p>
                <h3>Description</h3> {{ wallet.description }}
                <br>
            </div>
            <div class="col-md-6">
                {% include "members_list.html" %}
            </div>
        </div>
        {% if wallet.author == user %}
            <div class="row">
                <a href="edit_wallet">
                    <button type="button" class="btn btn-default">
                        Edit wallet
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}